.bar {
  background-color: #2256a730;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #e31e25;
  & > .item {
    background-color: #2256a7;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    color: white;
    padding: 5px;
  }
}
