.categoryLine {
  background-color: rgba(white, 0.5);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  @media (max-width: 600px) {
    width: 300px;
  }

  p {
    font-size: 15px;
  }

  strong {
    font-size: 13px;
    color: rgba(black, 0.3);
  }
}

.catInputContainer {
  display: flex;
  justify-content: center;
}
