.down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #2256a7;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.rm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #2256a7;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.card {
  height: 300px;
  width: 200px;
  padding: 5px;
  z-index: 50;
}

.content {
  background-color: white;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #2256a7;
  padding: 10px;

  & > .image {
    border: 1px solid silver;
    width: 100%;
    height: 166px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      padding: 5px;
      width: 100%;
    }
  }
  & > .noimage {
    border: 1px solid #2256a7;
    background: rgb(34, 86, 167);
    background: linear-gradient(
      144deg,
      rgba(34, 86, 167, 1) 61%,
      rgba(226, 29, 36, 1) 100%
    );
    width: 100%;
    height: 166px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    & > img {
      width: 100%;
      height: 100%;
    }
  }

  & > h1 {
    overflow: hidden;
    height: 40px;
    // white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
  }
  & > h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
  }
  & > h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 200;
  }
}
