.userContainer {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  max-width: 1024px;
}

.userLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #2256a7;
}
